<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vortexwolf.chan"
    android:installLocation="auto"
    android:versionCode="109"
    android:versionName="1.6.7">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".common.MainApplication">
        <activity
            android:name=".activities.LaunchScreenActivity"
            android:theme="@style/launchScreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.PickBoardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activities.ThreadsListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.vortexwolf.chan.activities.SearchableActivity" />
        </activity>
        <activity
            android:name=".activities.PostsListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>
        <activity
            android:name=".activities.SearchableActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.ExternalUrlHandlerActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="2ch.pm"
                    android:pathPattern="/.*"
                    android:scheme="https" />
                <data
                    android:host="2ch.hk"
                    android:pathPattern="/.*"
                    android:scheme="https" />
                <data
                    android:host="2ch.hk"
                    android:pathPattern="/.*"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ImageGalleryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".activities.BrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".activities.AddPostActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activities.FilesListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activities.TabsHistoryBookmarksActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:noHistory="true" />
        <activity
            android:name=".activities.TabsHistoryBookmarksCompActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:noHistory="true" />
        <activity android:name=".activities.NewRecaptchaActivity" />
        <activity android:name=".settings.ApplicationPreferencesActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>

</manifest>